<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

    <bean class="com.qlzf.commons.spring.SpringUtil"></bean>

    <context:component-scan base-package="com.lxtx"></context:component-scan>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.JdbcTransactionObjectSupport"
          abstract="true">
        <property name="dataSource" ref="pay_dataSource" />
    </bean>

    <import resource="classpath:/pay/DatasourceContext.xml"/>

    <import resource="classpath:/pay/HandlerContext.xml"/>

    <import resource="classpath:/pay/WrapContext.xml"/>

    <import resource="classpath:/pay/HelperContext.xml"/>

    <import resource="classpath:/pay/ServiceContext.xml"/>

    <import resource="classpath:/pay/rocketmq.xml"/>

</beans>
