<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/custom.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">


    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="app" v-cloak v-loading.fullscreen.lock="fullscreenLoading">
    <template>
        <el-form :model="searchForm" ref="searchForm" label-width="90px">
            <el-row>
                <el-col :xl="3" :lg="6" :md="6" :sm="8" :xs="24" class="form-search">
                    <el-form-item label="记录编号" prop="id">
                        <el-input v-model="searchForm.id" placeholder=""></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xl="3" :lg="6" :md="6" :sm="8" :xs="24" class="form-search">
                    <el-form-item label="商户订单号" prop="orderId">
                        <el-input v-model="searchForm.orderId" placeholder=""></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xl="3" :lg="6" :md="6" :sm="8" :xs="24" class="form-search">
                    <el-form-item label="类型" prop="type">
                        <el-select v-model="searchForm.type" placeholder="请选择">
                            <el-option label="请选择" value=""></el-option>
                            <el-option label="增加" value="1"></el-option>
                            <el-option label="减少" value="2"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xl="3" :lg="6" :md="6" :sm="8" :xs="24" class="form-search">
                    <el-form-item label="场景" prop="sceneInfo">
                        <el-select v-model="searchForm.sceneInfo" placeholder="请选择">
                            <el-option label="请选择" value=""></el-option>
                            <el-option label="商户充值" value="1"></el-option>
                            <el-option label="管理员操作" value="2"></el-option>
                            <el-option label="商户提现" value="3"></el-option>
                            <el-option label="转赠" value="4"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xl="3" :lg="6" :md="6" :sm="8" :xs="24" class="form-search">
                    <el-form-item label="金额" prop="money">
                        <el-input v-model="searchForm.money" placeholder=""></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xl="4" :lg="8" :md="8" :sm="12" :xs="24" class="form-search">
                    <el-form-item label="起始时间">
                        <el-col :span="11">
                            <el-date-picker
                                    v-model="early"
                                    type="datetimerange"
                                    :clearable="true"
                                    :default-time="['00:00:00', '23:59:59']"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择起始日期"
                                    :picker-options="pickerOptionsStart">
                            </el-date-picker>
                        </el-col>

                    </el-form-item>

                </el-col>

            </el-row>
            <el-form-item class="search-button">
                <el-button type="primary" @click="search">查询</el-button>
                <el-button @click="resetForm('searchForm')">重置</el-button>
            </el-form-item>

        </el-form>
        <div id="grid" style="width: 100%">
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                            <!--                            <el-form-item label="跳转地址">-->
                            <!--                                <span>{{ props.row.callbackUrl }}</span>-->
                            <!--                            </el-form-item>-->
                            <!--                            <el-form-item label="回调地址">-->
                            <!--                                <span>{{ props.row.notifyUrl }}</span>-->
                            <!--                            </el-form-item>-->
                            <!--                            <el-form-item label="备注">-->
                            <!--                                <span>{{ props.row.description }}</span>-->
                            <!--                            </el-form-item>-->
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="id"
                        label="记录编号">
                </el-table-column>

                <el-table-column
                        prop="appId"
                        label="商户Id">
                </el-table-column>
                <el-table-column
                        prop="type"
                        label="类型">
                </el-table-column>
                <el-table-column
                        prop="sceneInfo"
                        label="场景">
                </el-table-column>
                <el-table-column
                        prop="frontMoney"
                        label="变动前金额">
                </el-table-column>
                <el-table-column
                        prop="money"
                        label="变动金额">
                </el-table-column>
                <el-table-column
                        prop="queenMoney"
                        label="变动后金额">
                </el-table-column>
                <el-table-column
                        prop="orderId"
                        label="商户单号">
                </el-table-column>
                <el-table-column
                        prop="details"
                        label="备注">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="创建时间">
                </el-table-column>
            </el-table>
        </div>
        <div style="text-align: center;margin-top:5px;">
            <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :total="total" :current-page="searchForm.page" @current-change="pageChange">
            </el-pagination>
        </div>
    </template>
</div>
</body>
<script src="../merchants/vue/vue.js"></script>
<script src="../custom/custom.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/qs.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                fullscreenLoading: false,
                centerDialogVisible: false,
                innerVisible: false,
                sendNotifyDrawerVisable: false,
                direction: 'rtl',
                password: '',
                verifyCode: '',
                notifyId: '',
                early: [],
                countryOptions: [],
                payTypeOptions: [],
                searchFormOri: {},
                searchForm: {
                    id: null,
                    orderId: '',
                    type: '',
                    sceneInfo: '',
                    money: '',
                    startCreateTime: '',
                    endCreateTime: '',
                    page: 1,
                    limit: 10,
                    rowIndex: 0
                },
                dialog: {
                    isInsert: true,
                    visible: false,
                    formLabelWidth: '150px',
                    form: {},
                    settings: {
                        visible: false,
                        activeName: 'first',
                        userName: '',
                        appId: 0,
                        payFix: 0,
                        payRate: 0,
                        withdrawFix: 0,
                        withdrawRate: 0,
                        balanceForm: {
                            password: '',
                            Verifycode: '',
                            remain: 0,
                            Notes: ''
                        }
                    },
                    rules: {
                        UserName: [
                            {required: true, message: '请输入账号名称', trigger: 'blur'},
                            {min: 3, max: 50, message: '长度在 3 到 50 个字符', trigger: 'blur'}
                        ]
                    },
                },
                tableData: [],
                total: 0,
                dateStart: '', // 起运日期
                dateEnd: '', // 送达日期
                pickerOptionsStart: {},
                pickerOptionsEnd: {
                    disabledDate(time) {
                        if (this.dateStart) {
                            // 让用户可以选择开始结束同一天
                            var startTime = new Date(this.dateStart).valueOf() - 8.64e7 + 1;
                        } else {
                            var startTime = Date.now() - 8.64e7;
                        }
                        return time && time.valueOf() < startTime
                    }
                },
                notifyBtnSwitch: 'disabled',
                sendNotifyMsgForm: {
                    id: '',
                    url: '',
                    notifyData: '',
                    notifyResp: '',
                    notifyAnalyze: ''
                },
                formLabelWidth: 120,
                sending: false
            }
        },
        created() {
            this.queryMoneyLogPageList()
        },
        methods: {
            queryMoneyLogPageList() {
                var that = this
                this.fullscreenLoading = true
                this.searchForm.startCreateTime = this.early === "" ? "" : this.early[0]
                this.searchForm.endCreateTime = this.early === "" ? "" : this.early[1]
                return new Promise(resolve => {
                    axios({
                        method: 'post',
                        url: '../moneylog/queryMoneyLogPageList',
                        data: Qs.stringify(this.searchForm)
                    }).then(function (response) {
                        if (response.data.code === 0) {

                            var list = response.data.data
                            that.total = response.data.count


                            var tableData = []
                            for (var money of list) {

                                var type = money.type
                                type = type === 1 ? '增加' : '减少'
                                money.type = type

                                var sceneInfo = money.sceneInfo
                                sceneInfo = sceneInfo===1?'商户充值':sceneInfo===2?'管理员操作':sceneInfo===3?'商户提现':'转赠'
                                money.sceneInfo = sceneInfo

                                money.frontMoney = formatAmount(money.frontMoney)
                                money.money = formatAmount(money.money)
                                money.queenMoney = formatAmount(money.queenMoney)

                                money.createTime = dateFormate(money.createTime)

                                tableData.push(money)
                            }
                            that.tableData = tableData
                            that.fullscreenLoading = false
                        }
                    })

                });
            },
            search() {
                this.queryMoneyLogPageList()
            },
            resetForm(formName) {
                this.$refs[formName].resetFields()
                this.dateStart = ''
                this.dateEnd = ''
            },
            pageChange(cur) {
                this.searchForm.page = cur
                this.queryMoneyLogPageList()
            }
        }
    })
</script>
<style lang="less">
    .el-drawer.rtl {
        overflow: scroll;
    }

    .el-textarea .el-textarea__inner {
        resize: none;
    }

    .el-row {
        margin-bottom: 20px;

    &
    :last-child {
        margin-bottom: 0;
    }

    }
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }

</style>
</html>
