<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxtx.pay.handler.OperationLogHandler">

    <insert id="insert" parameterType="com.lxtx.pay.pojo.OperationLog">
        INSERT INTO operation_log (
            app_id, user_name, module, operation, request_url, request_method,
            request_params, status, message, execute_time, operation_ip, user_agent, session_id
        ) VALUES (
            #{appId}, #{userName}, #{module}, #{operation}, #{requestUrl}, #{requestMethod},
            #{requestParams}, #{status}, #{message}, #{executeTime}, #{operationIp}, #{userAgent}, #{sessionId}
        )
    </insert>

    <select id="findByPage" parameterType="java.util.Map" resultType="com.lxtx.pay.pojo.OperationLog">
        SELECT * FROM operation_log
        WHERE 1=1
        <if test="appId != null">
            AND app_id = #{appId}
        </if>
        <if test="userName != null and userName != ''">
            AND user_name = #{userName}
        </if>
        <if test="module != null and module != ''">
            AND module = #{module}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="startTime != null and startTime != ''">
            AND create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        ORDER BY create_time DESC
        LIMIT #{rowIndex}, #{limit}
    </select>

    <select id="countTotal" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM operation_log
        WHERE 1=1
        <if test="appId != null">
            AND app_id = #{appId}
        </if>
        <if test="userName != null and userName != ''">
            AND user_name = #{userName}
        </if>
        <if test="module != null and module != ''">
            AND module = #{module}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="startTime != null and startTime != ''">
            AND create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
    </select>

</mapper>
