.form-search{
}
.search-button{
}
.show-statictics-span{

}
.home-text-remain-text{
    font-size: 1.55rem;
    font-weight: bold;
    font-family: 'Helvetica Neue',serif
}
.home-text-remain-amount{
    font-weight: bolder;
}
.home-withdraw-button{
    width: 9.3rem;
    height: 3.2rem;
    background-color: #f03e41;
    border-style: none;
    color: white;
    font-size: 1.4rem;
}
.card-item{
    font-size: 1.42rem;
}

.card-item > span:first-child {
    margin: 0.1rem;
    display: inline-block;
}

.card-item > span:last-child {
    float: right;
    right: 10%;
    position: relative;
    font-weight: bold;
}
.el-main{
    overflow-y: hidden;
    height: auto;
}

.home-cpinfo > span:first-child {
    margin: 0.1rem;
    display: inline-block;
}

.home-cpinfo > span:last-child {
    right: 10%;
    position: relative;
}
.home-cpinfo-show{
    color: rgb(0,152,252);
    font-size: 0.6rem;
    float: right;
    text-decoration: none;
]}
